body{
background: #645757;
}
.logo{
text-indent: -999999px;
background:  url(logo.png);
width : 260px;
height: 100px;


}
table {
    border:none !important;
    border-spacing: 10px 0 !important;
    /* override bootstrap default */
    border-collapse:separate !important;
}
  
  td {
  background: pink;
  padding: 1em;
  /* for demo only - not a border */
  outline:1px solid grey;
}
